.search-box {
  background-color: white;
  width: 60rem;
  border-radius: 25px;
  padding: 10px 20px;
  line-height: 3rem;
  color: black;
}
.search-box:focus {
    border: 0;
    font-weight: 500;
}

.book-list{
  display: block;
  border: solid 1px white;
  padding: 40px;
  border-radius: 40px;
  background-color: rgb(109, 109, 109);
  margin: 30px 0
} 
.book-list:hover {
  padding: 50px;
  transition:ease-in-out 400ms ; 
}

.single-book{
  display: block;
  border: solid 1px white;
  padding: 40px;
  border-radius: 40px;
  background-color: rgb(109, 109, 109);
  margin: 30px 0;
  color: white;
}

.book-list p{
  font-style: italic;
}

.book-list p b{
  font-size: 18px;
  font-style: normal;
}

.button-group{
  display: flex;
  align-items: center
}

.input-group{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}

.input-group input {
  background-color: white;
  width: 30rem;
  border-radius: 10px;
  padding: 10px 20px;
  line-height: 1.5rem;
  color: black;
}

.input-group label {
  display: block;
  color: white;
}

